// ----- Mobile first header, min screen size 320px ----- //
.header__navbar {
  height: 42px;
  min-width: 320px;
  padding: 0.9em 0;
  // border: 1px solid red;
}
.header__navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  .header__navbar-item {
    display: inline-block;
    align-self: center;
  }
  .header__navbar-logo {
    width: 60%;
    height: 42px;
    display: flex;
    justify-content: flex-start;
    // border: 1px solid blue;
  }
  .header__navbar-menu {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    // border: 1px solid blue;
  }
}

// ----- Ipad size styling ----- //
