// Imported partials 

// ----- Mobile first header, min screen size 320px ----- //
.header__navbar-large {
  display: none;
}
.header__navbar {
  height: 42px;
  min-width: 320px;
  padding: 0.9em 0;
  border: 1px solid red;
}
.header__navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  .header__navbar-item {
    display: inline-block;
    align-self: center;
  }
  .header__navbar-logo {
    width: 60%;
    height: 42px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid blue;
  }
  .header__navbar-menu {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    border: 1px solid blue;
  }
}
.header__navbar-link {
  min-width: 42px;
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----- Ipad size styling ----- //
@media screen and (min-width: 768px) {
  .header__navbar {
    display: none;
  }
  // ----- Tablet & desktop header, min screen size 768px ----- //

  .header__navbar-large {
    height: 100px;
    display: flex;
    align-items: center;
    border: 1px solid red;
    .header__navbar-logo-large {
      //  align-self: center;
      justify-self: flex-start;
    }
    .header__navbar-list-large {
      display: flex;
      // align-items: center;
      justify-content: space-evenly;
      list-style: none;
      border: 1px solid green;
    }
  }
  .header__navbar-item-large {
    display: inline-block;
    border: 1px dotted blue;
  }
 
  .header__navbar-menu-large {
    // align-self: center;
    // justify-self: flex-end;
  }
}
