// Imported partials 

// ----- Mobile first header, min screen size 320px ----- //
.header__navbar-large {
  display: none;
}
.header__navbar {
  height: 42px;
  min-width: 320px;
  padding: 0.9em 0;
}
.header__navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  .header__navbar-item {
    display: inline-block;
    align-self: center;
  }
  .header__navbar-logo {
    width: 60%;
    height: 42px;
    display: flex;
    justify-content: flex-start;
  }
  .header__navbar-menu {
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }
}
.header__navbar-link {
  min-width: 42px;
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----- Ipad size styling ----- //

// ----- Don't show mobile menu on larger screens ----- //
@media screen and (min-width: 768px) {
  .header__navbar {
    display: none;
  }
  // ----- Tablet & desktop header, min screen size 768px ----- //

  .header__nav-large {
    width: 768px;
    .header__navbar-large {
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .header__navbar-logo-large {
        width: 230px;
        justify-self: flex-start;
      }
    }
  }
  .header__navbar-list-large {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    .header__navbar-item-large {
      width: 80px;
      display: inline-block;
      margin-right: 30px;
    }
  }
}

// ----- Desktop size styling ----- //
@media screen and (min-width: 900px) {
  .header__nav-large {
    display: flex;
    justify-self: center;
    min-width: 850px;
  }
  .header__navbar-large {
    height: 100px;
    .header__navbar-logo-large {
      width: 10%;
    }
  }
  .header__navbar-list-large {
    width: 50%;
    .header__navbar-item-large {
      width: 80px;
    }
  }
}
