// ----- Mobile first styling ----- //
.intro__content {
  display: flex;
  align-items: center;
  height: 223px;
}
.intro__content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4em;
  .intro__content-headline {
    margin-bottom: 27px;
  }
  .intro__content-text {
    width: 217px;
  }
}
.intro__container {
  height: 284px;
  display: flex;
  justify-content: center;
  padding: 0 2.7em;
  .intro__container-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

// ----- Ipad size styling ----- //
@media screen and (min-width: 768px) {
  .intro__content {
    height: 410px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2em;
   .intro__content-container {
      padding: 0 4.4em;
      .intro__content-text {
        width: 574px;
      }
    }
  }
  .intro__container {
    height: 500px;
    width: 617px;
  }
} 

// ----- Desktop size styling ----- //
@media screen and (min-width: 900px) {
  .intro__content {
    height: 385px;
    width: 850px;
    margin: 0 auto;
  }
  .intro__container {
    height: 335px;
    width: 850px;
    margin: 0 auto;
  }
}
