.header__navbar-large {
  display: none;
}

.header__navbar {
  height: 42px;
  min-width: 320px;
  padding: 0.9em 0;
  border: 1px solid red;
}

.header__navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.header__navbar-list .header__navbar-item {
  display: inline-block;
  align-self: center;
}
.header__navbar-list .header__navbar-logo {
  width: 60%;
  height: 42px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid blue;
}
.header__navbar-list .header__navbar-menu {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  border: 1px solid blue;
}

.header__navbar-link {
  min-width: 42px;
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__navbar {
    display: none;
  }
  .header__nav-large {
    width: 768px;
  }
  .header__nav-large .header__navbar-large {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__nav-large .header__navbar-large .header__navbar-logo-large {
    width: 230px;
    justify-self: flex-start;
  }
  .header__navbar-list-large {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .header__navbar-list-large .header__navbar-item-large {
    width: 80px;
    display: inline-block;
    margin-right: 30px;
  }
}
@media screen and (min-width: 900px) {
  .header__nav-large {
    display: flex;
    justify-self: center;
    min-width: 850px;
  }
  .header__navbar-large {
    height: 100px;
  }
  .header__navbar-large .header__navbar-logo-large {
    width: 10%;
  }
  .header__navbar-list-large {
    width: 50%;
  }
  .header__navbar-list-large .header__navbar-item-large {
    width: 80px;
  }
}
.intro__content {
  display: flex;
  align-items: center;
  height: 223px;
}

.intro__content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4em;
}
.intro__content-container .intro__content-headline {
  margin-bottom: 27px;
}
.intro__content-container .intro__content-text {
  width: 217px;
}

.intro__container {
  height: 284px;
  display: flex;
  justify-content: center;
  padding: 0 2.7em;
}
.intro__container .intro__container-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .intro__content {
    height: 410px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2em;
  }
  .intro__content-container {
    padding: 0 4.4em;
  }
  .intro__content-container .intro__content-text {
    width: 574px;
  }
  .intro__container {
    height: 500px;
    width: 617px;
    border: 2px dotted black;
  }
}
@media screen and (min-width: 900px) {
  .intro__content {
    height: 385px;
    width: 850px;
    margin: 0 auto;
    border: 1px solid blue;
  }
  .intro__container {
    height: 335px;
    width: 850px;
    margin: 0 auto;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 320px;
  height: 568px;
  margin: 0 auto;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #242635;
  border: 2px solid red;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.8px;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
  color: #242635;
}
a:hover {
  color: blue;
}
a:focus {
  color: #242635;
  opacity: 60%;
}

@media screen and (min-width: 768px) {
  body {
    overflow: hidden;
    width: 768px;
    height: 1024px;
    font-size: 22px;
  }
  h1 {
    font-size: 72px;
  }
  a {
    font-size: 16px;
  }
}
@media screen and (min-width: 900px) {
  body {
    overflow: hidden;
    width: 100vw;
    height: 810px;
    font-size: 22px;
    border: 2px dotted green;
  }
  body section {
    border: 2px solid purple;
  }
}