.header__navbar {
  height: 42px;
  min-width: 320px;
  padding: 0.9em 0;
}

.header__navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.header__navbar-list .header__navbar-item {
  display: inline-block;
  align-self: center;
}
.header__navbar-list .header__navbar-logo {
  width: 60%;
  height: 42px;
  display: flex;
  justify-content: flex-start;
}
.header__navbar-list .header__navbar-menu {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.header__navbar-link {
  min-width: 42px;
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__content {
  display: flex;
  align-items: center;
  height: 223px;
}

.intro__content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4em;
}
.intro__content-container .intro__content-headline {
  margin-bottom: 27px;
}
.intro__content-container .intro__content-text {
  width: 217px;
}

.intro__container {
  height: 284px;
  display: flex;
  justify-content: center;
  padding: 0 2.7em;
}
.intro__container .intro__container-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 320px;
  height: 568px;
  margin: 0 auto;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #242635;
  border: 2px solid red;
}
body section {
  border: 2px dotted blue;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.8px;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
  color: #242635;
}
a:hover {
  color: blue;
}
a:focus {
  color: #242635;
  opacity: 60%;
}